<footer class="footer">
    <div class="footer__buttonup">
        <a class="footer__buttonup--link" href="./index.html#home"><img src="./assets/images/ico-arrow.svg" alt="footer-button-arrow"></a>
    </div>
    <div class="footer__links--1">
        <ul class="footer__links">
            <a class="footer__link" href="http://adalab.es" target="_blank"><li>articles</li></a>
            <a class="footer__link" href="http://adalab.es" target="_blank"><li>books</li></a>
            <a class="footer__link" href="http://adalab.es" target="_blank"><li>events</li></a>
            <a class="footer__link" href="http://adalab.es" target="_blank"><li>reasons</li></a>
            <a class="footer__link" href="http://adalab.es" target="_blank"><li>tips</li></a>
        </ul>
    </div>
    <div class="footer__links--2">
        <ul class="footer__links">
            <a class="footer__link" href="http://adalab.es" target="_blank"><li>twiter</li></a>
            <a class="footer__link" href="http://adalab.es" target="_blank"><li>instagram</li></a>
            <a class="footer__link" href="http://adalab.es" target="_blank"><li>mastodon.social</li></a>
        </ul>
    </div>
    <div class="rights">
    <span class="copy__color">&copy</span>2021
    </div>
    <div>
    we<span class="heart__color">&heartsuit;</span>components
  </div>
</footer>
