<footer class="footer">
    <img class="footer__image" src="./assets/images/ico-arrow.svg" alt="footer-icon-arrow">
      <ul class="footer__links">
        <a class="footer__link" href="http://adalab.es" target="_blank"><li>articles</li></a>
        <a class="footer__link" href="http://adalab.es" target="_blank"><li>books</li></a>
        <a class="footer__link" href="http://adalab.es" target="_blank"><li>events</li></a>
        <a class="footer__link" href="http://adalab.es" target="_blank"><li>reasons</li></a>
        <a class="footer__link" href="http://adalab.es" target="_blank"><li>tips</li></a>
      </ul>
      <ul class="footer__links">
        <a class="footer__link" href="http://adalab.es" target="_blank"><li>twiter</li></a>
        <a class="footer__link" href="http://adalab.es" target="_blank"><li>instagram</li></a>
        <a class="footer__link" href="http://adalab.es" target="_blank"><li>mastodon.social</li></a>
      </ul>
    <div class="rights">
    <span class="copy__color">&copy</span>2021
    </div>
    <div>
    we<span class="heart__color">&heartsuit;</span>components
  </div>
</footer>
