<main>
    <section>
      insomnia tips
      <h2>
        looking through a window
      </h2>
      <p>
        donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. vivamus semper sodales rutrum.
      </p>
      go
    </section>
    <section>
      <h2 id="3reasons">
        3 reasons to purchase
      </h2>
        <h3>
          ut sed metus
        </h3>
        <p>
          lorem ipsum dolor sit amet, consecteur.
        </p>
        <h3>
          curabitur ac erat
        </h3>
        <p>
          mauris mattis urna quis lorem molestie.
        </p>
        <h3>
          morbi dictum
        </h3>
        <p>
          aliquam in dolor et dolor tincidunt.
        </p>
        more information
      </section>
    <img class="main_image" src="./assets/images/ico-arrow.svg" alt="main-icon-arrow">
  </main>
