  
  footer {
    background-color: #304268;
    width: 320px;
    height: 465px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'robot', sans-serif;
    font-size: 14px;
}

.footer__buttonup {
    display: flex;
    flex-direction: column;
    justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 20.5px;
        transform: translateY(-75px);
        /*margin: 602px 137px 442px 138px;
        padding: 11px 12.4px 10px 12px;*/
        /*box-shadow: 0 2px 4px 0 var(--k-50);*/
        background-color: #ffffff;
}

.footer__buttonup--link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 0 4px 0;
    
    
}
.footer__links {
    list-style-type: none;
    flex-wrap: wrap;
    /*padding: 0 0 13px 0;*/
}
.footer__id {
    scroll-margin-top: 140px;
  }
.footer__link {
        /*width: 73px;
        height: 150px;
        /*margin: 0 108px 30px 109px;*/
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    color: whitesmoke;
    font-size: 16px;
}

.footer__links--1 {
    margin-block-end: 30px;
    margin-block-start: -10px;

}

.footer__links--2 {
    margin-block-end: 30px;
}
.copy__color {
        color:white;
        width: 77px;
        height: 30px;
        /*margin: 30px 107px 0 106px;*/
        font-family: 'robot', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        /*text-align: center;*/
}
.heart__color {
    color: #f26002;
}
