header {
    height: 100vh;
}

.header__container {
display: flex;
flex-direction: column;
justify-content: flex-end;
background-image: url('../images/cover.jpg');    
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
width: 100%;
height: 100%;
}

.header__image--burger {
  position: fixed;
  justify-content: left;
  background-color: blue;
  width: 44px;
  height: 44px;
  padding: 15px 14px;
}
.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.header__tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: 'roboto slab', sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: white;
}
.header__paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;      
}

.header__paragraph::first-letter {
    text-transform: uppercase;
}

.header__buttondown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background: white;        
}


@media all and (min-width: 768px){
    .header__tittle {
        font-size: 50px;
    }
    .header__paragraph {
        font-size: 24px;
    }
}

@media all and (min-width: 1280px) {

    .header__text {
        padding: 0;
        margin: 0;
    }
    .header__tittle {
        font-size: 80px;
    }

    .header__paragraph {
        font-size: 24px;
        transform: translateX( -15px);
    }

}
